@model Company
<div class="container">
    <form method="post"  class="form-group" enctype="multipart/form-data">
        <input type="file" name="Photo" class="form-check">
        <input type="submit" class="btn btn-danger m-auto" />
    </form>
</div>