@model EcommerceK101.Models.Product

<form method="post">
    <input type="hidden" />    
    <h4>
        Delete @Model.Name
    </h4>

    <button type="submit" class="btn btn-danger"> Delete</button>
</form>